<!doctype html>
<div class="container">
<html>
<head>
  <title>#emotions</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <script src="/js/d3.js" charset="utf-8"></script>
</head>

<body>
      <div class="container">
        
        <!-- Title  -->
        <body>
        <h1 style="text-align:center;">#emotions</h1>
        </body>
        
        <!-- Button -->
        <div style="text-align:center;">
          <a class="btn btn-info btn-lg" href="/auth/twitter" role="button">Connect with Twitter</a> 
        </div>

        <!-- Background -->
        <style type="text/css">
        body {

          background: url(http://fellowshiproom.files.wordpress.com/2013/01/happy-sad.jpg);
          background-size: 70% 70%;
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed; 
        }
        </style>

    </div>

   

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
</div>
